/* 
* This file is an External CSS.
*/

/* * Combining Selectors */

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

/* * Normal Selectors */

h1 {
  /* color: blue; */
  font-size: 26px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  font-style: italic;
  /* color: #1098ad; */
}

h2 {
  font-size: 40px;
  /* font-family: sans-serif; */
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  /* font-family: sans-serif; */
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* font-family: sans-serif; */
  line-height: 1.5;
  margin-bottom: 15px;
  /* display: inline; */ /* -> We don't use it as it makes para as a single line which is weird and does'nt make sense here*/
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* font-family: sans-serif; */
  /* display: inline; */
}

/* body {
} */

article {
  /* background-color: blanchedalmond;
  border: 8px double burlywood; ---> width style color <--- */
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad; /* * width, style, color -> Shorthand Property*/
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

/* ul {
  list-style: none;
} */

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* top: 50px; */
  /* left: 50px; */
  bottom: 50px;
  right: 50px;
}

nav {
  font-size: 18px;
  /* text-align: center; */
}

/* * Descendant Selector */

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

/* * ID and Class Selector */

/* * Using ID selector (#) */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* * Class Selector (.)*/

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  /*
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  */
  padding: 20px 40px; /* ---> top, bottom and left and right <---*/
  /* border: 2px solid blueviolet; */
  margin-bottom: 60px;
  /* height: 80px;  */ /* -> We Don't add it because it causes conflicts with box type(Inline changed to Block) heigths*/
  margin-top: 10px;
}

/* .first-li {
  font-weight: bold;
} */

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

.post-img {
  /* width: 800px; */
  width: 100%;
  height: auto;
  /* margin: 100px; */ /* !img are inline-block */
}

/* --> Used to center <-- */
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}

/* * Pseudo Class */

/* li:first-child {
  font-weight: bold;
} */

li:last-child {
  /* font-style: italic; */
  margin-bottom: 0;
}

/* li:nth-child(2) {
  color: red;
}

li:nth-child(odd) {
  color: greenyellow;
} */

/* *Misconception in Pseudo Class: In Pseudo class the first child is always selected in this case the header will be the first child class.*/

/* article p:first-child {
  color: red;
} */

/* article p:last-child {
  color: red;
} */

/* *Styling Links (L[:link], V[:visited], H[:hover], A[:active])*/

/* *It's not a Good Practice */
a {
  /* color: #1098ad; */
  cursor: pointer;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */ /* *Generally we don't do that */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  /* text-decoration: underline dotted orange; */
  text-decoration: underline orange;
}

a:active {
  background-color: greenyellow;
  font-style: italic;
}

/* *Descendant + Pseudo(LVHD) */

nav a:link {
  /* background-color: #eee;
  margin: 20px;
  padding: 20px;

  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
  /* text-align: center; */
}

/* *Descendant + Pseudo(LVHD) + Pseudo(LVHD) */

nav a:link:last-child {
  margin-right: 0;
}

/* *Resolving Conflicts */

/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* * Styling using Inheritance and universal selector */

/* -> Here the body replaces all the selectors with the given selector if there is no specific overriding selector. */

body {
  color: #444;
  font-family: sans-serif;
  /* margin: 0; */

  /* Note: border-top: 10px; Here this does not inherit */

  border-top: 10px solid #1098ad;
  position: relative;
}

/* nav a:link,
nav strong {
  font-size: 18px;
} */

/* 
nav {
  font-size: 18px;
} */

/* ----> Universal Selector = this does not inherit but it apples on all selector(this has the least priority)*/

* {
  /* border-top: 10px; */
  margin: 0;
  padding: 0;
}

/* ----> Pseudo Elements <---- */
/* # Pseudo class(:), Pseudo Element(::) */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* h2::first-letter {
  font-size: 80px;
} */

/* ----> Adjacent sibling selector <---- */
/* header + p {
  color: red;
  font-weight: bold;
} */

/* ----> Adjacent sibling selector + Psuedo Element <---- */
/* h3 + p::first-line {
  color: red;
} */

/* ----> After and Before Pseudo element <---- */
/* 
  # ::before is used to place it at the beginning of the element, 
  # ::after is used to place it at the end of the element
*/
h2 {
  /* background-color: orange; */
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* ---> Debugging Tutorial <--- */

/* .main-header nav a:link {
  color: red;
  margin-top: 100px;
} */

